.font-work-sans {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
#hero {
  background-image: url('../new-year-new-me/images/banner/banner1.png');
  height: 808px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: right;
  align-items: center;
}
#hero .hero-detail {
  width: 525px;
  margin: auto 320px auto 845px;
  /* border: 1px solid red; */
  text-align: right;
}
#hero .hero-detail h2{
  font-weight: bold;
  font-size: 65px;
  margin-bottom: 24px;
}
#hero .hero-detail p{
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 32px;
}
#hero .hero-detail button{
 background-color: #F15B22;
 color: #FFFFFF;
 padding: 21px 25px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}
#failure{
  display: flex;
  gap: 87px;
  justify-content: center;
  align-items: center;
}
#failure .failure-pic{
  margin: 130px 0;
}
#failure .failure-text{
  width: 416px;
  margin: 370px 0 215px 0;
  
}
#failure .failure-text h2{
font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
#failure .failure-text .para{
  font-size: 16px;
  line-height: 26px;
}
#failure .failure-text p{
  margin-bottom: 8px;
  
}
#failure .failure-text p i{
  color: #16D887;
}
#plane {
  width: 1140px;
  margin: 0 auto 130px;
}
#plane h2{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 50px;
}
.card-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.card-container img{
  margin-bottom: 16px;
}
.card-container h3{
  margin-bottom: 16px;
}
#gradient{
  width: 1140px;
  height: 300px;
  background-image: url("../new-year-new-me/images/gradient2.png"),url("../new-year-new-me/images/watch.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover,cover;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0 auto 130px;
}
#gradient .main{
  margin-left: 64px;
}
#gradient .main h3{
  font-size: 40px;
  font-weight: bold;
  color: #FFFFFF;
  width: 460px;
  margin-bottom: 24px;
}
#gradient .main button{
  color: #F15B22;
  background-color: #FFFFFF;
  border: none;
  padding: 20px 36px;
  border-radius: 5px;
  cursor: pointer;
}
footer{
  display: flex;
  justify-content: center;
  gap: 330px;
  background-color: black;
  height: 560px;
}
footer .left{
  width: 485px;
  color: #FFFFFF;
  margin: auto 0;

}
footer .left h3{
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 16px;
}
footer .left .last{
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 24px;
}
footer .left .email , .phone{
  margin-bottom: 16px;
}
footer .left .social-media{
  display: flex;
  gap: 16px;
}

footer .right{
  width: 325px;
  margin: auto 0;
}
footer .right h4{
  font-size: 25px;
  font-weight: semi-bold;
  color: #FFFFFF;
  margin-bottom: 31px;
}
footer .right input{
  width: 325px;
  height: 64px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  background-color: black;
  color: white;
  padding-left:20px ;
  margin-bottom: 16px;
}

footer .right button{
 color: #F15B22;
  background-color: #FFFFFF;
  border: none;
  padding: 20px 36px;
  border-radius: 5px;
  cursor: pointer;
}
