.font-work-sans {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
#hero {
  background-image: url('../new-year-new-me/images/banner/banner1.png');
  height: 808px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: right;
  align-items: center;
}
#hero .hero-detail {
  width: 525px;
  margin: auto 320px auto 845px;
  /* border: 1px solid red; */
  text-align: right;
}
#hero .hero-detail h2{
  font-weight: bold;
  font-size: 65px;
  margin-bottom: 24px;
}
#hero .hero-detail p{
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 32px;
}
#hero .hero-detail button{
 background-color: #F15B22;
 color: #FFFFFF;
 padding: 21px 25px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}
#failure{
  display: flex;
  gap: 87px;
  justify-content: center;
  align-items: center;
}
#failure .failure-pic{
  margin: 130px 0;
}
#failure .failure-text{
  width: 416px;
  margin: 370px 0 215px 0;
  
}
#failure .failure-text h2{
font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
#failure .failure-text .para{
  font-size: 16px;
  line-height: 26px;
}
#failure .failure-text p{
  margin-bottom: 8px;
  
}
#failure .failure-text p i{
  color: #16D887;
}


